* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1900px;
    /* outline: 2px solid red; */
}



#sketch-container {
    padding: 8px;
    display: flex;
    justify-content: center;
}

.squareDiv {
    background-color: lightblue;
    margin: 0;
    padding: 5px;
    border: .5px solid grey;
    height: 15px;
    width: 15px; 
    flex: 1;
}

.squareDiv:hover {
    background-color: brown;
}

button {
    display: block;
    margin: 20px auto;
    background-color: rgb(87, 197, 37);
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: large;
}